<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>{{ community_details.name }}</h1>
<p>{{ community_details.description }}</p>
<p>Created by: {{ community_details.created_by.username }}</p>
<p>Created on: {{ community_details.created_at|date:"F j, Y" }}</p>
<p>Owner: {{ community_details.owner.username }}</p>
<p>Public: {{ community_details.public }}</p>
<p>Members: {{ community_details.members.count }}</p>

{% if community_details.logo %}
    <img src="{{ community_details.logo.url }}" alt="{{ community_details.name }} Logo">
{% endif %}
<h2>Members:</h2>
<ul>
    {% for profile in member_profiles %}
        <li>{{ profile.user.username }}</li>
    {% endfor %}
</ul>

   <h1>{{ community.name }}</h1>
<p>{{ community.description }}</p>

<h2>Roles</h2>
<ul>
    {% for role in roles %}
        <li>{{ role.name }} (Hierarchy: {{ role.hierarchy }})</li>
    {% empty %}
        <li>No roles assigned.</li>
    {% endfor %}
</ul>

<h2>Rooms</h2>
<ul>
   {% for room in community.rooms.all %}  <!-- Use community instead of community_details -->
        <li>
            <a href="{% url 'get_messages' community.slug room.name %}">{{ room.name }}</a> -
            {% if room.public %}Public{% else %}Private{% endif %}
        </li>
    {% empty %}
        <li>No rooms available.</li>
    {% endfor %}
</ul>

<h2>User Role Assignments</h2>
<ul>
    {% for assignment in user_roles %}
        <li>{{ assignment.user.username }} - Role: {{ assignment.role.name }} (Assigned at: {{ assignment.assigned_at }})</li>
    {% empty %}
        <li>No role assignments.</li>
    {% endfor %}
</ul>
{% if url == 'community_index' %}
<a href="{% url 'create_room' slug=community.slug %}">Create Room</a>
{% endif %}


</body>
</html>