<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resumeet</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        body {
            background-image: url("{% if landing_images %}{{ landing_images.0.image.url }}{% else %}{% static 'default_background.jpg' %}{% endif %}");
            background-size: cover; /* Cover the entire background */
            background-position: center; /* Center the image */
            background-repeat: no-repeat; /* Prevent repeating the image */
        }
    </style>
</head>
<body>

    <!-- Navigation Bar -->
    <nav style="margin-top: 5%;">
        <ul class="sidebar-menu" style="
    min-width: 60px; height: 80%;">
            <li style="">
                <a href="#">
                    <i class="fas fa-home"></i>
                    <span>Home</span>
                </a>
            </li>
            <li style="">
                <a href="#">
                    <i class="fas fa-compass"></i>
                    <span>Explore</span>
                </a>
            </li>
            <li style="">
                <a href="#">
                    <i class="fas fa-comments"></i>
                    <span>Messages</span>
                </a>
            </li>
            <li style="">
                <a href="#">
                    <i class="fas fa-calendar-alt"></i>
                    <span>Events</span>
                </a>
            </li>
            <li style="">
                <a href="#">
                    <i class="fas fa-bell"></i>
                    <span>Notification</span>
                </a>
            </li>
            <li style="">
                <a href="#">
                    <i class="fas fa-plus-circle"></i>
                    <span>Create Post</span>
                </a>
            </li>
            <li style="">
                <a href="#">
                    <i class="fas fa-user-circle"></i>
                    <span>My account</span>
                </a>
            </li>
            <li style="">
                <a href="#">
                    <i class="fas fa-cog"></i>
                    <span>Settings</span>
                </a>
            </li>
        </ul>
    </nav>

<h1 style="margin-left: auto; margin-right: auto; font-size: 100px; color: rgba(255, 255, 255, 0.7); text-shadow: 2px 2px rgba(0, 0, 0, 0,7) position: fixed; display: flex;"><i>ResuMeet</i></h1>
<h3 style="margin-left: auto; margin-right: auto; font-size: 50px; color: rgba(255, 255, 255, 0.7); text-shadow: 2px 2px rgba(0, 0, 0, 0,7) position: fixed; display: flex;"><i>I'm Sleepy My Brain Is Not Working</i></h3>
    <ul>
    </ul>
</body>
</html>