

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
</head>
<body>
    <h1>Landing Images</h1>
    <ul>
        {% for image in landing_images %}
            <li style="text-decoration: none;">
                <img src="{{ image.image.url }}" alt="{{ image.name }}">
            </li>
        {% empty %}
            <li>No images available.</li>
        {% endfor %}
    </ul>
</body>
</html>

